body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center; 
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;
    background-color: #2895D5; 
}

.header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 20px 30px;
}

.navbar-custom a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-custom a:hover {
    text-decoration: underline;
}

.btn-custom {
    background-color: #2895D5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    
}

.btn-custom:hover {
    background-color: #003d80;
    color: white;
}

.btn-danger {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
}

/* Conteneur principal */
.container {
    margin-top: 15%;
}

/* Section des rendez-vous */
.rendezvous-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.rendezvous-section {
    flex-grow: 1;
}

.rendezvous-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin: 5px 0;
}


.card-body a:hover {
    text-decoration: underline;
}

/* Section du calendrier */
.calendar {
    width: 300px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calendar input[type="date"] {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

/* Matinée et après-midi */
.rendezvous-section .row {
    margin-top: 20px;
}

.rendezvous-section h5 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
